import React from 'react';
import styles from './{{componentName}}.module.scss';

type Props = {

};

const {{componentCamelcaseName}}: React.FC<Props> = () => {
  return (
    <div className={styles.{{componentCamelcaseName}}}>
      {' '}
    </div>
  );
};

export default {{componentCamelcaseName}};
