$font-primary: white;
$font-secondary: #c1c1c1;
$font-tertiary: #b8b8b8;

$background-primary: #2B2B2B;
$background-secondary: #3C3F41;
$background-tertiary: #4C5052;

$border-primary: #555555;
$border-secondary: #595B5D;
